
$mobile: 'screen and (min-width: 320px) and (max-width: 425px)';
$tablet: 'screen and (min-width: 426px) and (max-width: 768px)';
$laptop: 'screen and (min-width: 769px) and (max-width: 1440px)';
$wide: 'screen and (min-width: 1441px) and (max-width: 2560px)';

$color: #8ca429;
$orange: #dd9933;

body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

#app {
  font-family: "Roboto", "Serif";
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #777;

  h1 {
    font-size: 3em;
    line-height: 1.2em;
    margin: 0 0 0.3em;
  }

  h2 {
    font-size: 1.8em;
    line-height: 1.4em;
    margin: 0 0 0.3em;
  }

  h3 {
    font-size: 1.4em;
    line-height: 1.4em;
  }

  h4 {
    font-size: 1.25em;
    line-height: 1.4em;
  }

  h5 {
    font-size: 1.1em;
    line-height: 1.4em;
  }

  h6 {
    font-size: 1em;
    line-height: 1.2em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      text-decoration: none !important;
    }
  }

  p {
    padding: 0 0 1em;
    margin: 0;
  }

  a {
    color: $color;
    outline: 0;
    font-weight: bold;
    transition: all 0.8s ease;

    &:hover {
      text-decoration: none !important;
      color: $orange;
      transition: all 0.8s ease;
    }
  }

  .fullscreen {
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-position: 50% 50% 9 !important;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
  }

  #menu {
    z-index: 99;
    width: 100vw;
    position: absolute;
  }

  .navbar-default {
    box-shadow: 0px 0.5px 2px #cecece;
    background-color: #8ca429;
  }

  .navbar-default .navbar-brand {
    padding: 7px;
  }

  .navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: 300;
  }

  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    text-decoration: underline;
  }

  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus {
    background: #eaba29;
    color: #fff;
  }

  .btn-default {
    font-size: 17px;
    margin: 30px 0 10px;
    margin-right: 10px;
    line-height: 20px;
    padding: 15px 35px;
    height: 50px;
    border: 2px solid $color !important;
    background: transparent;
    transition: all 0.4s;
    color: $color !important;
    border-radius: 100px;
  }

  .btn-default:hover,
  .btn-default:focus,
  .btn-default:active,
  .btn-default.active,
  .open>.dropdown-toggle.btn-default {
    border: 2px solid $color !important;
    background: $color !important;
    color: white !important;
  }

  .btn-primary {
    font-size: 17px;
    margin: 30px 0 10px;
    margin-right: 10px;
    line-height: 20px;
    padding: 15px 35px;
    height: 50px;
    border: 2px solid $color !important;
    background: $color !important;
    transition: all 0.4s;
    color: white;
    border-radius: 100px;
  }

  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .open>.dropdown-toggle.btn-primary {
    border: 2px solid $color !important;
    background: transparent !important;
    color: $color !important;
  }

  .btn-section {
    padding-top: 20px;
  }


  .feat-list {
    display: flex;

    i {
      font-size: 48px;
      margin-right: 10px;
      color: #555;
      height: 100%;
      position: relative;
      opacity: 0.6;
      transition: all 0.8s ease;
    }

    i:hover {
      i {
        color: $color !important;
        transition: all 0.8s ease;
      }
    }
  }




  /* iPads (portrait) ----------- */
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .btn-section {
      text-align: center;
    }
  }

  /* iPads (landscape) ----------- */
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


    .feat-list {
      margin-top: 10px;
    }

    .feat-list p {
      font-size: 15px;
    }
  }

  /* smart-phone ----------- */
  @media (max-width: 767px) {

    .btn-section {
      text-align: center;
    }
    .feat-list i {
      padding-left: 40px;
    }
  }

  /* iPhone 5 (landscape) ----------- */
  @media (max-width: 568px) {

    .feat-list i {
      padding-left: 20px;
    }
  }

  /* iPhone 4 (landscape) ----------- */
  @media (max-width: 480px) {
    .feat-list i {
      padding-left: 5px;
    }

  }

  /* smart phone width: 360px ----------- */
  @media (max-width: 360px) {

    .feat-list i {
      padding-left: 0;
    }

    .video-header {
      margin: 30px 0 30px;
    }
  }

  /* iPhone 4/5 (portrait) ----------- */
  @media (max-width: 320px) {


    .btn-default {
      font-size: 16px;
      margin: 30px 0 10px;
      padding: 15px 30px;
      height: 35px;
      border-radius: 80px;
    }

    .btn-primary {
      font-size: 16px;
      margin: 30px 0 10px;
      margin-right: 15px;
      padding: 15px 30px;
      height: 35px;
      border-radius: 80px;
    }

  }

  .price {
    margin: 60px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-primary {
      margin: 0 50px;
    }

    span {
      font-size: 40px;
      padding-right: 10px;
      font-weight: 500;
    }

    @media ($mobile) {
      flex-direction: column;

      div {
        margin: 2em 0;
      }
    }

    @media ($tablet) {
      flex-direction: column;

      div {
        margin: 2em 0;
      }
    }
  }

  .navbar-default {

    .navbar-toggle,
    .navbar-collapse,
    .navbar-form {
      border: none;
    }

    .navbar-toggle {
      .icon-bar {
        background-color: #fff;
      }

      &:hover,
      &:focus {
        background-color: transparent;
        border: none;
      }
    }
  }

  .response {
    font-size: 30px;
    text-align: center;
    margin: 30px 0 0 0;
    font-weight: 500;
  }

}



.img-responsive {
  width: 100%;
}